page-list {
  /*.item-checkbox {
    padding-left: 0;
  }*/

  /*.checkbox {
    right: auto;
  }

  .input-label {
    padding-left: 60px;
  }*/

  /*.viaje {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 4px;
    white-space: nowrap;
    color: red;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: right;
  }
  .asistente {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: right;
  }
  .name {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: right;
  }
  .detail {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #07b5fd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: right;
  }*/
  .enviado_green {
    background-color: rgb(229, 255, 208);
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    border: 1px;
  }
  .cancelado_red {
    background-color: red;
    border: 1px;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
  }
  .cancelado_red > p {
    color: white;
  }
  .pagado_gray, .embalada_gray  {
    background-color: lightgray;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    border: 1px;
  }
  .sin_procesar {
    background-color: transparent;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    border: 1px;
  }
  .email {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #07b5fd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-content: right;
  }
}
