<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<ion-searchbar (ionInput)="findProductos($event)" placeholder="Buscar productos..."></ion-searchbar>-->
  <form (ngSubmit)="savePedido()">
    <ion-item no-padding>
      <ion-select name="cliente_id" [(ngModel)]="pedido.cliente_id" placeholder="Seleccione cliente.">
        <ion-option *ngFor="let cliente of datos.clientes" value="{{cliente.id}}">{{ cliente.apellido }} {{ cliente.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-searchbar (ionInput)="findProductos($event)" placeholder="Buscar productos..."></ion-searchbar>
    </ion-item>
    <ion-item no-padding>
      <ion-list>
        <!--<ion-item-sliding #slidingItem *ngFor="let producto of datos.productos; let i = index">-->
          <ion-item no-padding *ngFor="let producto of productos; let i = index">
            <!--<ion-checkbox (ionChange)="addProductoToPedido(i, $event)" item-start></ion-checkbox>-->
            <ion-toggle [checked]="checkProductoSeleccionado(producto.id, producto.presentacion_id)" (ionChange)="addProductoToPedido(i, $event)" item-start></ion-toggle>
            <ion-label item-content text-wrap>
              <p>COD-{{producto.id}}-{{producto.presentacion_id}} {{producto.nombre}} marca {{producto.marca}}</p>
              <p>${{producto.precio}}</p>
              <ion-item no-padding>
                <ion-input type="number" name="cantidad" [(ngModel)]="producto.cantidad" placeholder="Cantidad"></ion-input>
              </ion-item>
            </ion-label>
          </ion-item>
        <!--</ion-item-sliding>-->
      </ion-list>
    </ion-item>
    <button ion-button type="submit" block>Guardar</button>
  </form>
</ion-content>
