<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Clientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<form (ngSubmit)="savePedido()">
    <ion-item no-padding>
      <ion-searchbar (ionInput)="findClientes($event)" placeholder="Buscar cliente/s..."></ion-searchbar>
    </ion-item>
    <ion-item no-padding>
      <ion-select name="cliente_id" [(ngModel)]="pedido.cliente_id" placeholder="Seleccione cliente.">
        <ion-option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{ cliente.apellido }} {{ cliente.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-searchbar (ionInput)="findProductos($event)" placeholder="Buscar productos..."></ion-searchbar>
    </ion-item>
    <ion-item no-padding>
      <ion-list>
          <ion-item no-padding *ngFor="let producto of productos; let i = index">
            <ion-toggle [checked]="producto.seleccionado" (ionChange)="addProductoToPedido(i, $event)" item-start></ion-toggle>
            <ion-label item-content text-wrap>
              <p>COD-{{producto.id}}-{{producto.presentacion_id}} {{producto.nombre}} marca {{producto.marca}}</p>
              <p>${{producto.precio}}</p>
              <ion-item no-padding>
                <ion-input type="number" name="cantidad" [(ngModel)]="producto.cantidad"></ion-input>
              </ion-item>
            </ion-label>
          </ion-item>
      </ion-list>
    </ion-item>
    <button ion-button type="submit" block>Guardar</button>
  </form>-->

  <ion-item no-padding>
    <ion-toggle [checked]="hiddenLstProductos" (ionChange)="verPedido($event)" item-start></ion-toggle>
    <ion-label>{{pedido.productos.length?'('+pedido.productos.length + ' producto' + (pedido.productos.length===1?' seleccionado':'s seleccionados')+')':'Sin productos seleccionados'}}</ion-label>
  </ion-item>

  <ion-item [hidden]="hiddenLstProductos" no-padding>
    <ion-item no-padding>
      <ion-searchbar (ionInput)="findProductos($event)" placeholder="Buscar productos..."></ion-searchbar>
    </ion-item>
    <ion-list>
      <ion-item no-padding *ngFor="let producto of productos; let i = index">
        <ion-toggle [checked]="producto.seleccionado" (ionChange)="addProductoToPedido(i, $event)" item-start></ion-toggle>
        <ion-label item-content text-wrap>
          <p><b>(COD-{{producto.id}}-{{producto.presentacion_id}})</b> {{producto.nombre}} x {{producto.presentacion}} marca {{producto.marca}}</p>
          <p>${{producto.precio}}</p>
          <ion-item no-padding>
            <ion-input type="number" name="cantidad" min="1" [(ngModel)]="producto.cantidad"></ion-input>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item [hidden]="hiddenLstPedido" no-padding>
    <ion-item no-padding>
      <ion-searchbar (ionInput)="findClientes($event)" placeholder="Buscar cliente/s..."></ion-searchbar>
    </ion-item>
    <ion-item no-padding>
      <ion-select name="cliente_id" [(ngModel)]="pedido.cliente_id" placeholder="Seleccione cliente.">
        <ion-option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{ cliente.apellido }} {{ cliente.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding>
    <ion-list>
      <ion-item no-padding *ngFor="let producto of pedido.productos; let i = index">
        <ion-toggle [checked]="true" (ionChange)="delProductoPedido(i, $event)" item-start></ion-toggle>
        <ion-label item-content text-wrap>
          <p><b>(COD-{{producto.articulo_id}}-{{producto.presentacion_id}})</b> {{producto.producto}}</p>
          <p>${{producto.precio}}</p>
          <ion-item no-padding>
            <ion-input type="number" name="cantidad" min="1" [(ngModel)]="producto.cantidad" (ionChange)="sumoImportes()"></ion-input>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-list>
    </ion-item>
    <ion-item no-padding text-right>
      <b>Importe Total: ${{importeTotal}}</b>
    </ion-item>
    <ion-item no-padding>
      <button ion-button [round]="true" item-end (click)="savePedido()">Guardar</button>
    </ion-item>
  </ion-item>
</ion-content>
